.wrapper {
  display: flex;
  flex-direction: row;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 60%;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

button {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 2%;
}

ul {
  padding: 2%;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

input,
textarea {
  margin-top: 2%;
}
